name: Generate changeset for Renovate

on:
  workflow_call:
    inputs:
      working-directory:
        description: 'Working directory for the job'
        required: false
        default: './'
        type: string

jobs:
  generate-changeset:
    runs-on: ubuntu-latest
    if: github.actor == 'renovate[bot]'
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 2
          ref: ${{ github.head_ref }}

      - uses: actions/setup-node@v5
        with:
          node-version: '22.20.0'

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install
        working-directory: ${{ inputs.working-directory }}

      - name: Git Identity
        run: |
          git config --global user.name 'renovate[bot]'
          git config --global user.email '29139614+renovate[bot]@users.noreply.github.com'

      - name: Run changesets-renovate
        run: bunx @scaleway/changesets-renovate
        working-directory: ${{ inputs.working-directory }}
