name: Shared Run Tests Workflow

on:
  workflow_call:
    inputs:
      working-directory:
        description: 'Working directory for the job'
        required: false
        default: './'
        type: string

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '22.21.0'

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install
        working-directory: ${{ inputs.working-directory }}

      - name: Build
        run: bun run build
        working-directory: ${{ inputs.working-directory }}

      - name: Run Unit Tests
        run: bun run test:unit
        working-directory: ${{ inputs.working-directory }}

    outputs:
      dummy: "done"
